<html>
  <head>
      <title>Emily's Django Girls Blog</title>
  </head>
  <body>
  <div>
      <h1>Emily's<a href="https://djangogirls.org/"> Django Girls </a>Blog</h1>
  </div>

  <div>
    <p><b>Conquered</b> on 10 October 2015!</p>

  <div>
    <p><h2><a href="">My first post</a></h2>
      <p>TWSS. I'm pretty pumped about this! This was so frustrating at first, but I got better and better. I still need a lot of support, but I progressed from having to ask a question for every step to being able to troublesshoot an error on my own. Good stuff.</p>
  </div>

  <div>
    <p><h2><a href="">My second fantastic post</a></h2>
      <p>I intend to not leave here and never do this again. I need to somehow find time in my really busy schedule to practice coding. Since I probably won't be in a class next semester, maybe I can spend some time on it then.</p>
  </div>
